@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: helvetica, arial;
    background-color: #ebbe9b;
    background-image: #ebbe9b; 
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}



/* HEADER */
header{
    width: 100vw;
    padding: 10px 0px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    color: ghostwhite;
    background-color:  #e7a977;
}
header nav{
    display: flex;
    justify-content: space-around
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
header nav ul li a{
    font-size: 40px;
    text-decoration: none;
    color: ghostwhite;
}


/* MAIN */

.pokedex ul{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 15px;
    margin-left: -80px;
}
.pokedex ul li{
    display: flex;
    justify-content: space-around;
    list-style: none;

    border-radius: 15px;
    padding: 12px;
    height: 100px;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.5 );
}
.pokedex ul li img{
    -webkit-filter: drop-shadow(8px 8px 7px rgba(0,0,0,0.5));
    filter: drop-shadow(8px 8px 7px rgba(0,0,0,0.5));
}
.pokedex ul li section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
/* SETTING THE BACKGROUND COLOR BY POKÉMON TYPE */
.pokedex ul .grass{
    background-color: MediumSeaGreen;
}
.pokedex ul .fire{
    background-color: rgb(253, 60, 26);
}
.pokedex ul .water{
    background-color: cadetblue;
}
.pokedex ul .bug{
    background-color: LimeGreen;
}
.pokedex ul .normal{
    background-color: SandyBrown;
}
.pokedex ul .poison{
    background-color: MediumOrchid;
}
.pokedex ul .electric{
    background-color: Gold;
}
.pokedex ul .ground{
    background-color: Peru;
}
.pokedex ul .fairy{
    background-color: LightCoral;
}
.pokedex ul .rock{
    background-color: grey;
}
.pokedex ul .ghost{
    background-color: DarkOrchid;
}
.pokedex ul .fighting{
    background-color: PowderBlue;
}
.pokedex ul .psychic{
    background-color: Khaki;
}
.pokedex ul .ice{
    background-color: LightSeaGreen;
}
.pokedex ul .dragon{
    background-color: DarkSeaGreen;
}

/* POKEMON FEATURES */
.pokedex ul li h2{
    color: white;
    font-size: 30px;
}
.pokedex ul li img{
    width: 40%;
}
.pokedex ul li p{
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 2px 5px;
    border-radius: 10px;
}
/* SETTING THE TEXT COLOR BY POKÉMON TYPE*/
.pokedex ul li #grass{
    background-color: rgb(41, 122, 78);
}
.pokedex ul li #fire{
    background-color: rgb(226, 54, 24);
}
.pokedex ul li #water{
    background-color: rgb(74, 124, 126);
}
.pokedex ul li #bug{
    background-color: rgb(36, 160, 36);
}
.pokedex ul li #normal{
    background-color: rgb(245, 139, 46);
}
.pokedex ul li #poison{
    background-color: rgb(114, 52, 129);
}
.pokedex ul li #electric{
    background-color: rgb(199, 169, 0);
}
.pokedex ul li #ground{
    background-color: rgb(204, 122, 40);
}
.pokedex ul li #fairy{
    background-color: rgb(206, 107, 107);
}
.pokedex ul li #rock{
    background-color: rgb(104, 103, 103);
}
.pokedex ul li #ghost{
    background-color: rgb(140, 12, 204);
}
.pokedex ul li #fighting{
    background-color: rgb(114, 159, 165);
}
.pokedex ul li #psychic{
    background-color: rgb(219, 210, 129);
}
.pokedex ul li #ice{
    background-color: rgb(22, 128, 122);
}
.pokedex ul li #dragon{
    background-color: rgb(111, 148, 111);
}


/* RESPONSIVE DESING */
@media(max-width:1400px){
    .pokedex ul{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -60px;
    }
}
@media(max-width:1200px){
    .pokedex ul{
        grid-template-columns: 30vw 30vw 30vw;
        margin-left: -10px;
    }
    .pokedex ul li h2{
        font-size: 25px;
    }
    .pokedex ul li p{
        font-size: 18px;
    }
}
@media(max-width:860px){
    .pokedex ul{
        grid-template-columns: 40vw 40vw;
    }
    .pokedex ul li h2{
        font-size: 22px;
    }
    .pokedex ul li p{
        font-size: 18px;
    }
}
@media(max-width:733px){
    .pokedex ul{
        grid-template-columns: 45vw 45vw;
        margin-left: -5px;
    }
    .pokedex ul li h2{
        font-size: 25px;
    }
    .pokedex ul li p{
        font-size: 16px;
    }
}
@media(max-width:546px){
    .pokedex ul{
        margin-left: -5px;
    }
    .pokedex ul li h2{
        font-size: 22px;
    }
}
@media(max-width:436px){
    .pokedex ul{
        grid-template-columns: 90vw;
        margin-left: -5px;
    }
    .pokedex ul li h2{
        font-size: 25px;
    }
}


